@import "../../styles/utility";

.general-container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  justify-content: space-between;
  align-items: center;
  .filters-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    .filter-box {
      padding: 0.5em;
      background-color: $secondary-color;
      color: $primary-color;
      border-radius: 0.5em;
      cursor: pointer;
    }
  }
  .data-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;

    margin-bottom: 2em;
    .chart-container {
      width: 100%;
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2em;
    }
    .secondary-info-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2em;
      .secondary-info {
        width: max-content;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4em;
      }
    }
  }
}

.tooltip-container {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  .date-style {
    @extend .bold;
    color: $primary-color;
  }
}
