@import "../../styles/utility";

.elem-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 2em;
  .elem-box {
    width: 100%;
    height: auto;
    background-color: $secondary-color;
    color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 0.5em;
    cursor: pointer;
  }
}

.events-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  justify-content: center;
  align-items: flex-start;
  .event-container {
    width: 100%;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    justify-content: center;
    align-items: flex-start;
    &:hover {
      border: $hover-color solid 1px;
      border-radius: 1em;
    }
    .year {
      @extend h1;
      font-size: 8em;
      color: darken($accent-color, $amount: 45);
      margin-bottom: 0;
    }
    .event-info {
      position: relative;
      top: -5em;
      left: 0.8em;
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: 0.6em;
      justify-content: center;
      align-items: flex-start;
      .event-title {
        @extend .bold;
        font-size: 1.8em;
        font-weight: 700;
      }
      .event-sources {
        display: flex;
        gap: 0.8em;
        justify-content: center;
        align-items: center;
        .source-bubble {
          font-size: 0.8em;
          font-weight: 500;
          text-decoration: none;
          background-color: $accent-color;
          color: $primary-color;
          padding: 0.2em 0.5em;
          border-radius: 5px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .home-nav-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1em;
    .elem-box {
      width: 40%;
    }
  }
}
