@import "../../styles/utility";

.navbar {
  width: 90%;
  height: fit-content;
  padding: 0.5em;
  position: fixed;
  bottom: 0.8em;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: $secondary-color;
  color: $primary-color;
  border-radius: 0.5em;
  z-index: 99;
  .nav-item {
    height: auto;
    color: $primary-color;
    padding: 0.4em;
    border-radius: 0.2em;
    text-decoration: none;
    font-size: xx-small;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    height: fit-content;
    width: min-content;
    position: fixed;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    gap: 3em;
    .nav-item {
      font-size: 0.8em;
    }
  }
}
