@import "../../styles/utility";

.navbar {
  width: 90%;
  height: max-content;

  padding: 0.5em;
  position: fixed;
  bottom: 0.8em;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: $secondary-color;
  color: $primary-color;
  border-radius: 0.5em;
  z-index: 99;
  .nav-item {
    height: 50px;
    color: $primary-color;
    padding: 0.4em;
    border-radius: 0.2em;
    text-decoration: none;
    font-weight: 600;
    font-size: xx-small;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      border: $primary-color solid 1px;
    }
    img {
      height: inherit;
      object-fit: cover;
    }
  }
}
